



h1{
    font-family: fantasy;
    font-size: 3em;
    text-align: center;
    text-decoration-line: underline;
    color: rgb(161, 123, 129);
    
  
}

img{
    width: 400px;
    height: 300px;
    margin: 20px;
    transition: all 1s;
}

img:hover{
    transform: scale(1.1);
}

.photos{
    display:flex ;
    flex-wrap: wrap;
    justify-content: center;

}